
.game {
  width: 850px;
  text-align: left;

  padding: 25px 50px;
  border-bottom: 1px solid white;

  background: #00000060;
  border-radius: 2px;
}

.game-section {
  margin-top: 50px;
}

.game-section h1 {
  width: fit-content;
  margin: 10px 0;
  margin-left: 10px;
  border-bottom: 1px dotted white;
}


