
body {
  text-align: center;
  background-color: var(--background-color);
  --menu-opacity: 50%;

  background-image: url("../content/img/background/background.png");

  /*background-image: url("../content/img/background/clouds.png");*/
}

.top-bar {
  height: 12px;
  background-color: rgb(5, 140, 230);
  opacity: var(--menu-opacity);
}

.menu {
  padding: 5px 0;
  background-color: rgb(12, 170, 255);
  text-align: left;

  opacity: var(--menu-opacity); 
}

.menu img {
  padding-left: 30px;
  width: 400px;
  image-rendering: pixelated;
}

.menu p {
  padding: 0 15px;
  color:black;
  font-weight: bold;
}

.socials {
  position: absolute;
  right: 5px;
  top: 5px;
}

.menu-flowers {
  position: absolute;
  image-rendering: pixelated;
  height: 70px;

  z-index:-1;

  left:50%;
  transform: translate(-50%, -50%);
}

.socials a {
  padding: 0 8px;
  margin: 0;

  color: var(--subtext-color);
  border: 1px solid var(--dotted-color);
}

.page {
  width: 70%;
  margin: 25px auto;
  text-align: left;
  display:flex;
  align-items:center;
  justify-content:center;


  align-content: flex-start;
}

.section {
  width: fit-content;
  background-color:#A0A0A0;
  color: black;
  border: 2px solid #505050;
}
.section .title{
  border: none;
}
.section p {
  color: black;
}

.content {
  border: 1px solid #303030;
  margin:5px;
  padding: 10px;
  background-color:#D0D0D0;
}

.topbar {
  height:14px;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;

  border-bottom: 1px solid #505050;
  image-rendering:pixelated;
}

.close {
  border:none;
  padding:0;
  margin:0;
}
.close:hover {
  padding:0;
  margin:0;
  border:none;
}

.title {
  height: 2px;
  padding-left: 5px;
  margin-bottom: 2px;
}



.album-list {
  padding: 5px;
}

.buttons {
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

button {
  background-color: transparent;
  border: 1px solid var(--subtext-color);
  border-bottom: 3px solid var(--subtext-color);
  color: var(--subtext-color);

  cursor: pointer;
}

button:hover {
  border: 1px solid var(--dotted-color);
  border-bottom: 3px solid var(--dotted-color);
  color: var(--dotted-color);
}

.album-info {
  width: 300px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  
  padding: 5px 0;

  border-bottom: 1px dotted var(--subtext-color);
}

#album-cover {
  width: 100px;
  border-radius: 5px;
}

.song {
  width: 600px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 15px;
}

.song audio {
  height: 28px;
}


/* Art */
.art-list {
  margin: 10px;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.art {
  width: fit-content;
  padding: 10px;
  
  text-align: center;

  transition: .5s ease;
  border-radius: 5px;
}

.art:hover {
  background-color: #0e0e0e;
}

.image img {
  border-radius: 5px;

  width: fit-content;
  border: 1px solid gray;

  max-width: 500px;
}

.links {
  background-color: #00000070;
  border-radius: 5px;

  width: 250px;
  padding: 40px 0px;
  font-size: 24px;

  position: absolute;
}

.link-anchors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;
}

.links a {
  width: 230px;
  margin: 5px 0px;
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Comic Sans MS", sans-serif;
}

.links a:hover {
  text-decoration: underline;
}

.links p {
  margin-bottom: 20px;
  font-size: 18px;
}

.social {
  margin-top: 20px;
}

.background-song audio {
  height: 5px;
  width: 20px;
}

.link-guy {
  position: absolute;
  left: 200px;
}

.video {
  position: absolute;
  left: 0;
  top: 100;
  z-index: -999;

  width: 100%;

  opacity: 20%;
}

#img-ad {
  width: 300px;
  height: 110px;
  border-radius: 2px;
  margin: 15px 5px;
}

#canvas {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -50;
}

#button1 {
  position:absolute;
  bottom:0;
  left:0px;
}



@media screen and (max-width: 650px) {
  .link-anchors {
    display: block;
  } 

  .link-anchors a {
    font-size: 28px;
  }

  .menu-flowers {
    width:auto;
    height: auto;
  }

  #canvas {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  } 

  #button1 {
    position: absolute;
    right:0px;
    top:110px;
    left:auto;bottom:auto;
  }

  .menu img {
    padding:0;
    width: 250px;
  }

  #img-ad {
    width: 150px;
    height: 55px;
  }
}


.side-nav {
  position: absolute;
  right: 5px;
  top: 110px;
  
  width: 150px;
}

.side-nav img {
  width: inherit;
  border-radius:5px;
}

.itch {
  position:absolute;
  right: 50px;
  top: 150px;
}

.itch img {
  width: 150px;
  border: 3px solid var(--link-color);
}


.band {
  position:absolute;
  right: 50px;
  top: 400px;
}

.band img {
  width: 150px;
  border: 3px solid var(--link-color);
}


.page-part {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.idk {
  position: relative;
  bottom: 140px;
}

.line {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 5px;
  margin: 20px 50px;
}

.bio {
  margin: 0 25px;
}



/* OLD SECTION DIV */

.old-section {
  width: fit-content;
  margin-bottom: 100px;
}

.old-title {
  padding-left: 25px;
  font-size: 24px;
  border-bottom: 2px dotted var(--dotted-color);
}






